<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<context-param>
        <param-name>defaultAvatar</param-name>
        <param-value>public/img/default-avt.jpg</param-value>
    </context-param>
  <error-page>
    <location>/view/ui/common/404.jsp</location>
  </error-page>
  <context-param>
    <param-name>ProjectURI</param-name>
    <param-value>/DatingNetwork</param-value>
  </context-param>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>main.java.controllers.ui.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>main.java.controllers.ui.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/user/*</url-pattern>
    <url-pattern>/hotprofile</url-pattern>
    <url-pattern>/forgot</url-pattern>
    <url-pattern>/signup</url-pattern>
    <url-pattern>/signout</url-pattern>
    <url-pattern>/signin</url-pattern>
    <url-pattern></url-pattern>
    <url-pattern>/index</url-pattern>
    <url-pattern>/category/*</url-pattern>
    <url-pattern>/account/settings</url-pattern>
    <url-pattern>/account/update</url-pattern>
    <url-pattern>/article/*</url-pattern>
  </servlet-mapping>

</web-app>